<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello @user.email</h1>
    <p>
      This is a reminder that a new payment is due in 2 days.<br>
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>